body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family : 'Montserrat';
    font-weight:bold;
}

p{
    color: #8f8f8f;
}

a{
    text-decoration: none;
}

.big-heading{
    font-size:3.2rem;
    Line-height:1.5;
    font-weight:900;
}

.section-heading{
    font-size:3rem;
    line-height: 1.5;
}



/* Container Section */

.container-fluid{
    padding:2.4rem 10rem 2.4rem 10rem;
}



/* Navigation Bar */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size:2.5rem;
    font-weight:bold;
}

.nav-item{
    padding:0rem 1.2rem 0rem 1.2rem;
}

.nav-link{
    font-size:1.4rem;
    font-weight:450;
}




/* Download Buttons */

.download-button{
    margin:1.5rem 1rem 1rem 0.5rem;
}

.download-button-2{
    margin:1.5rem 0.5rem 1rem 1rem;
}

.download-button-2:hover{
    background-color:rgb(227, 228, 223);
}

.btn-hover:hover{
    background-color: rgb(68, 65, 65);
}

.btn-block{
    width:100%;
}



/* Title Section */

#title{
    background-color:#ff4c68;
    color:white;
    text-align: left;
}

.title-image{
    width:20rem;
    transform:rotate(25deg);
}




/* Features */

.features{
    padding:2rem 5rem 0rem 5rem;
    background-color: white;
}


.feature-container{
    padding-top:6rem;
    padding-bottom: 5rem;
}

.features-text{
    font-size:1.5rem;
    line-height: 1.2;
}

.icon{
    color:#ef8172;
    padding-bottom:1.6rem;
}

.icon:hover{
    cursor: pointer;
    color:#ff4c68;
}




/* Testimonial Section */

#testimonials{
    background-color: #ef8172;
    color:white;
}

.testimonial-text{
    font-size:3rem;
    line-height: 1.5;
}

.testimonials-image{
    width:10%;
    border-radius:100%;
    margin:1.2rem;
}

.carousel-item{
    padding:7% 15%;
}




/* Press Section */

#press{
    background-color: #ef8172;
    padding-bottom: 4.5%;
}

.press-image{
    width:15%;
    margin:1.2rem 2.2rem 1.2rem 2.2rem;
}




/* Pricing Section */

#pricing{
    margin-top:7rem;
    margin-bottom:3rem;
}

.pricing-col{
    padding:3% 5%;
}

.pricing-text{
    font-size:3rem;
    line-height: 1.5;
}

.pricing-plan-text{
    font-size:1.5rem;
}


/* Call To Action Section */

#cta{
    background-color:#ff4c68;
    color:white;
    padding:6% 14% 6% 14%;
}

.container-fluid > h2{
    line-height:1.8;
    padding-bottom:1rem;
}




/* Footer Section */

#footer{
    padding:5% 10% 2% 10%;
    background-color:white;
}

.footer-icon{
    padding:0rem 1.5rem 3rem 1.5rem;
}




/* Media Queries */

@media (max-width:1028px) {

  h1{
    text-align: center;
  }

  h2{
    text-align:center;
  }

  h3{
    text-align: center;
  }

  .title-image{
    transform: rotate(0deg);
  }

}